@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    border: 1px red solid;
 }

 body {
    min-height: 100vh;
    background-color: rgb(27, 27, 77);
 }

 span {
   margin-right: 5px;
 }

 /* navigation bar */

 nav {
    width: 100%;
    height: 55px;
    line-height: 50px;
    background-color: rgb(1, 16, 71);
   padding: 0 10em;
   position: fixed;
   top: 0;
   z-index: 1;
 }


 .nav-container {
    display: flex;
    justify-content: space-between;
 }

 .nav-links {
    display: flex;
    gap: 0.5em;
 }


 /* buttons */

 .nav-links button {
    padding: 2px 5px;
    width: 150px;
    height: 35px;
    margin: auto;
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;
    color: white;
    border-radius: 3px;
 }

#source-link { background-color: rgb(0, 98, 255);  }

#yt-link { background-color: red;}

/* hover */

#source-link:hover { background-color: rgb(4, 69, 173);}

#yt-link:hover { background-color: rgb(179, 0, 0); }

/* logo */

 .logo {
     display: block;
     font-size: 1.5em;
     font-weight: 500;
     color: white
 }


 /* content */


 .wrapper {
   position: absolute;
   top: 5%;
    margin-top: 3%;
    padding: 0.5em  2em;

    /* this is for h1 text*/
    color: white;
 }

 /* for cards */

 .projects_wrapper {
    margin-bottom: 2em;
    margin-top: 1.3em;
 }

 .projects_wrapper {
    display: flex;
    gap: 0.7em;
    flex-wrap: wrap-reverse;
    justify-content: center;
 }

 .wrapper h1 {
    font-weight: 400;
    margin:  0.5em 0 ;
 }


 /* This is not complete */

 .card {
   width: 350px;
   height: 300px;
   background-image: url(./images/bg_one.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   overflow: hidden;
   border-radius: 5px;
   flex-grow: 1;
 }

 .card-details {
   position: relative;
   bottom: -59%;
   background-color: rgb(0, 128, 255);
   height: 50%;
   padding: 1em 0.5em;
   display: flex;
   flex-direction: column;
   gap:5px;
 }


 .card-details h3 { font-weight: 500; text-align: center; margin-bottom: 5px;}

 .card-details  button {
   border-radius:5px;
   padding: 6px;
   cursor: pointer;
   color: white;
 }


#src-code { background-color: rgb(3, 77, 174);}

#live-prev { background-color: rgb(3, 3, 41);}