@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  transition:   0.3s ease;
}

html { scroll-behavior: smooth;}
* {  border: 1px solid red; }

body {
  background-color: rgb(225, 247, 255);
}

nav {
  width: 100%;
  line-height: 80px;
  height: 80px;
  background-color: rgb(36, 35, 35);
}

.links,
nav {
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.ham-btn {
  display: none;
}

.logo {
  cursor: pointer;
  font-size: 2.2em;
  color: white;
  font-weight: 600;
}

.mobilen-links {
  display: none;
}

.links {
  display: flex;
  gap: 2em;
}

.links a {
  display: block;
  color: white;
  font-size: 1.2em;
}

.links a:hover {
  color: rgb(0, 136, 255);
}

#sign-btn {
  cursor: pointer;
  height: 45px;
  margin: auto;
  padding: 5px 12px;
  width: 100px;
  position: relative;
  color: white;
  background-color: rgb(0, 136, 255);
  border-radius: 5px;
  font-size: 1em;
}

#sign-btn:hover {
  background-color: rgb(4, 110, 203);
}


/* ---New wrapper ---*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  color: rgb(61, 60, 60);
}

.wrapper p {
  line-height: 1.4em;
  margin-bottom: 12px;
  font-size: 1em;
}

.wrapper h1 {
  font-size: 70px;
}

.wrapper button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 1.1em;
  background-color: rgb(0, 136, 255);
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.wrapper button:hover  {
  background-color: rgb(5, 116, 220);
 transform: scale(1.1);
}

span { /* this is to change the color of the first letter */
  animation: colorshift;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


 /* animation is for span element only */

@keyframes colorshift {
  0% {
   
  }

  100% {
    color: rgb(20, 165, 255);
  }
}


.sign-in-dialog {
  /* this is for mobile only, it should not be shown on larger screens */
  display: none;
}

/* paragraph section */

.paragraph-sect {
  background-color: rgb(116, 208, 251);
  height: 80vh, auto ;
  display: flex;
  flex-direction: column;
  padding: 3em 4em;
  color: rgb(23, 72, 95);
}

.paragraph-sect h1 {
  font-size: 40px;
  margin-bottom: 12px;
}

.paragraph-sect p {
  text-align: justify;
  line-height: 1.6em;
  font-size: 18px;
}

/* End of paragraph section */

footer {
  height: 30%;
  background-color: rgb(41, 41, 41);
  z-index: 1;
  width: 100%;
  padding: 1em;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.footer-content h4 {
  font-size: 1.3em;
  color: rgb(197, 190, 190);
  width: 30%;
  border-bottom: 1px solid rgb(215, 211, 211);
  text-align: center;
  padding-bottom: 0.7em;
  font-weight: 400;
}

.footer-content h4 {
  font-weight: 500;
}

.footer-links {
  margin-top: 10px;
  padding: 10px;
}

.footer-links a {
  font-size: 2em;
  margin: 0 5px;
  color: rgb(197, 190, 190);
  padding:  5px;
}

.footer-links a:hover {
  color: rgb(83, 175, 255);
}

.img-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
} 

.img-section h1 {
  margin-bottom: 5px;
  text-align: center;
  padding: 1em 0;
}

.img-container {
  gap: 1em;
  height:  50%;
  display: flex;
  justify-content: space-around;
  padding: 0 1.2em;
}

.img-container img {
  cursor: pointer;
  height: 340px;
  width: 240px;
  border-radius: 10px;
}

.img-container {
  flex-wrap: wrap;
}

.img-container img {
  flex-grow: 1;
}

/* for medium screens */

@media only screen and (max-width: 800px) {

   .nav-container {
    justify-content: space-around;
   }
  
 #sign-btn {
  height: 30px;
  width: 70px;
  font-size: 0.8em;
  background-color: transparent;
  border: 1px solid   rgb(0, 136, 255);
   
 }
}

@media only screen and (max-width: 768px) {

  /* navbar */

  .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: 2px solid rgb(5, 95, 174);
  }

  /* links  */

  .links {
    display: none;
  }


  .mobilen-links {
    z-index: 1;
    display: block;
    text-align: center;
    width: 100%;
    top: 81px;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.845);
    backdrop-filter: blur(12px);
    left: 0;
    padding-bottom: 1em;
  }

  .mobilen-links a {
    margin: 12px 0;
    color: white;
    display: block;
  }

  .mobilen-links a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.272);
  }

  /* end of links */

  /* sign-in button */

  #sign-btn {
    height: 50px;
    width: 30%;
    background-color: rgb(0, 136, 255);
    font-size: 1.2em;
   }


  /* Pop up dialog */

  .sign-in-dialog {
    z-index: 2;
    width: 100%;
    background-color: rgba(22, 22, 24, 0.696);
    backdrop-filter: blur(13px);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 2em;
    gap: 12px;
  }

  .sign-in-dialog {
    animation: popup;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }

  .sign-in-dialog h4 {
    color: white;
  }

  .mbutton {
    margin: auto;
    cursor: pointer;
    width: 50%;
    height: 50px;
    font-size: 1.2em;
    background-color: rgb(0, 136, 255);
    color: white;
    border-radius: 5px;
  }

  .close-btn {
    background-color: rgb(12, 78, 135);
    color: rgba(255, 255, 255, 0.628);
  }

  /* ---- for popup animation  ----- */

  @keyframes popup {
    0% {
      bottom: -268px;
    }

    100% {
      bottom: 0px;
    }
  }

  @keyframes slidedown {
    0% {
      bottom: 0px;
    }

    100% {
      bottom: -268px;
    }
  }

  /* -- end of pop up message */

  /* hamburger button for mobile */

  .ham-btn {
    cursor: pointer;
    display: block;
    font-size: 2em;
    color: white;
  }

  .bar {
    display: block;
  }

  /* end of hamburger button */

  /* wrapper for main content */

  .wrapper {
    padding: 1em 0.6em;
  }
  .wrapper h1 {
    line-height: 43px;
    font-size: 2.5em;
    margin-bottom: 12px;
  }

  .wrapper p {
    font-size: 15px;
  }

   .wrapper br {
    display: none;
   }

  .paragraph-sect {
    padding: 2em 1em;
  }

  .paragraph-sect h1 {
    font-size: 2em;
    text-align: center;
  }

  .paragraph-sect p {
    line-height: 1.2em;
    text-align: justify;
  }
}

/* end of wrappper */

/* FOR LOGIN PAGE */

.sign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.121);
}

.sign-wrapper {
  animation: fade;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

.form-wrapper {
  padding: 0 1.4em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form-wrapper {
  border-radius: 10px;
  height: 350px;
  width: 350px;
  background-color: rgba(14, 12, 12, 0.626);
  border: 1px rgba(255, 255, 255, 0.087) solid;
  flex-direction: column;
}

.form-wrapper h1 {
  width: 50%;
  border-bottom: 1px solid rgb(8, 127, 231);
  text-align: center;
  padding-bottom: 0.3em;
  margin-bottom: 12px;
  font-weight: 400;
}

.form-wrapper a {
  display: block;
  color: white;
  text-decoration: underline;
  font-size: 13px;
}

.form-wrapper a:hover {
  color: rgb(20, 165, 255);
}

.form-wrapper input {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 7px 14px;
  font-weight: 500;
  font-size: 1em;
  background-color: rgb(233, 234, 235);
}

.form-wrapper #login-btn {
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 136, 255);
  width: 100%;
  text-align: center;
  padding: 0.6em;
  color: white;
  height: 40px;
  font-size: 1em;
}

#login-btn:hover {
  background-color: rgb(8, 127, 231);
}

/* this note would remind users that the form isn't functional as yet */

.note {
  position: absolute;
  bottom: 3em;
  color: rgba(255, 255, 255, 0.811);
  font-size: 13px;
}

/* this is for the background image on the "login.html" page */

.bg-img {
  background-color: rgba(0, 0, 0, 0.493);
  background-image: url(./login-bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-position: scroll;
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* ANIMATION FOR LOGIN PAGE */
@keyframes fade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* for tablets and phones */

@media only screen and (max-width: 768px) {

  .bg-img {
    background-image: url(./login-bg-img.jpg);
  }

  .note {
    top: 6em;
  }

  .note {
    color: rgba(233, 5, 5, 0.733);
    background-color: rgb(255, 255, 255);
    padding: 2px;
    height: 20px;
    border-radius: 3px;
  }

  .note h3 {
    text-align: center;
  }
}
