/* fortext sizes */

:ROOT {
    --title: 56px;
    --paragraph-text-size: 20px;
    --title-size-2: 40px;
}

/* for colors */

:root {
    --card-bg: rgb(36, 0, 64);
   --text-color: white;
   --card-text-color:rgb(217, 211, 255);
   --a-hover-color: rgb(111, 78, 255);
   --background: rgb(28, 24, 34);
   --nav-bg: rgb(9, 3, 19);
   --btn-color: rgb(76, 54, 189);
   --btn-hover-color: rgb(43, 30, 104);
   --btn-hover-color: rgb(69,69,255);
   --primary-drop-shadow: 0px 0px 20px rgba(7, 0, 15, 0.501);
   --secondary-drop-shadow: 0px 0px 20px rgba(7, 0, 15, 0.27);
   --mobile-nav-color: rgb(28, 24, 34);
   --mobile-nav-hover-1:rgb(111, 78, 255);
   --mobile-nav-hover-2: rgba(11, 3, 23, 0.388);
}

.content  {
    margin-top: 120px;
    padding: 6em;
}

/* =========== ABOUT SECTION =============== */

.about-section {
    color:var(--text-color);
    text-align: center;
}

.about-section h1 {
    font-size: var(--title);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.about-section p {
    font-size: var(--paragraph-text-size);
}

/* =================== END OF ABOUT SECTION ==========*/

/*==================== CONTACTS SECTION ===========*/

.contact-info {
    padding: 1.2em;
    color: var(--text-color);
    margin-top: 6em;
}

.contact-info h2 {
    font-size: var(--title-size-2);
    text-align: center;
}

.contact-info {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
