@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: none;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

nav {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
}

.nav-content {
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8em;
}

.nav-content ul, a {
    display: block;
    font-weight: 500;
    margin: 0 1em;
    font-size: 1.1em;
    display: flex;
}


.nav-content a {
    color: rgb(34, 34, 34);
    transition: 0.3s ease-in-out;
}

.nav-content a:hover {
   color:  rgb(1, 1, 167);
}

.logo {
    font-size: 2em;
}

.logo a {
    text-decoration: none;
}

/* header */

.header-nav {
    width: 100%;
    height: 30px;
    background: rgb(53, 52, 52);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-nav h3 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
}

/* content */

.main {
    padding: 0 10%;
    height: 100vh;
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
}

.main h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 3px;
    text-transform: lowercase;
}

.main p {
    max-width: 500px;
    margin-bottom: 1.3em;
    line-height: 1.4em;
    font-size: 14px;
    font-weight: 500;
    color: rgb(53, 53, 53);
}



.main button {
    padding: 6px 7px;
    height: 50px;
    width: 200px;
    font-size: 1em;
}

.main button {
    color: white;
    background: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.main button:hover {
    background: blue;
}

/* second */

.second {
    background-color: blue;
    color: white;
display: grid;
place-content: center;
    height: 100vh;
}

.second h1 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin-bottom: 1.2em;
}

.second .img-row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}

.img-row img {
    filter: brightness(50%);
    cursor: pointer;
   transition: 0.3s ease-in-out
}

.img-row img:hover {
    filter: brightness(100%);
}

.img-row img {
   margin:  8px;
}

 #more-img-btn {
    width: 255px;
    height: 50px;
    margin: 0 auto ;
    margin-top: 1.4em;
    font-size: 1em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border: 3px solid white;
    background: none;
    cursor: pointer;
    color: white;
 }
#more-img-btn:hover {
    border: 3px solid white;
    background-color: white;
    color: black;
}
/* card */


.card-row {
    display: grid;
    place-content: center;
    height: 110vh;
}


.cards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5em;
}

.card {
    cursor: pointer;
    color: rgb(20, 20, 20);
    width: 350px;
    height: 500px;
    border: 2px solid black;
    margin: 2em;
    transition: 0.3s ease;
}

.card:hover {
    color: blue;
    border-color:  blue;
    transform: translateY( -6px);
}

.card .card-img {
    background-color: grey;
    height: 50%;
    background-image: url(https://img.freepik.com/free-vector/3d-black-white-ripple-stripes-distorted-backdrop_1217-3640.jpg?w=826&t=st=1691853055~exp=1691853655~hmac=f9a2dfc256e1d3c36eaa615ec1e7b73056daaf557a576d0ff011838012aea6bf);
    background-size: cover;
}

.card .details {
    padding: 1em 1.3em;
}

.details h1 {
    font-size: 2em;
}

.details p {
  font-size:15px;
}

.details button {
    width: 50%;
    float: right;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     margin-top: 15px;
     cursor: pointer;
}

.details button {
    background-color: black;
    color: white;
}

.details button, i {
    font-size: 1.2em;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.details button:hover {
    transform: scale(1.1);
    background-color: blue;
}
